# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\4 course\System-Programing-AMa-42\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
